r.py.history.txt
./r.py.history.txt
./libs/pyflann
./libs/pyflann/**/*
./junk
./junk/**/*
./junk/*
junk
./*.pyc
./**/*.pyc
./*.un~
./**/*.un~

*.pyc
**/*.pyc

HISTORY
// libs

..gitignore.un~
.HISTORY.un~
r.py.rp_cd_history.txt
__pycache__
r.py.rp_cd_history.txt
r.py.rp_cd_history.txt

libs/jedi/evaluate/__pycache__
libs/jedi/common/__pycache__
libs/jedi/evaluate/compiled/__pycache__
libs/jedi/evaluate/compiled/subprocess/__pycache__
libs/jedi/evaluate/context/__pycache__
libs/jedi/evaluate/gradual/__pycache__
libs/jedi/plugins/__pycache__
libs/pyflann/__pycache__
libs/pyflann/bindings/__pycache__
libs/pyflann/io/__pycache__
libs/pyflann/util/__pycache__
prompt_toolkit/__pycache__
prompt_toolkit/application/__pycache__
prompt_toolkit/clipboard/__pycache__
prompt_toolkit/completion/__pycache__
prompt_toolkit/contrib/__pycache__
prompt_toolkit/contrib/completers/__pycache__
prompt_toolkit/contrib/regular_languages/__pycache__
prompt_toolkit/contrib/telnet/__pycache__
prompt_toolkit/contrib/validators/__pycache__
prompt_toolkit/eventloop/__pycache__
prompt_toolkit/filters/__pycache__
prompt_toolkit/formatted_text/__pycache__
prompt_toolkit/input/__pycache__
prompt_toolkit/key_binding/__pycache__
prompt_toolkit/key_binding/bindings/__pycache__
prompt_toolkit/layout/__pycache__
prompt_toolkit/lexers/__pycache__
prompt_toolkit/output/__pycache__
prompt_toolkit/shortcuts/__pycache__
prompt_toolkit/shortcuts/progress_bar/__pycache__
prompt_toolkit/styles/__pycache__
prompt_toolkit/terminal/__pycache__
prompt_toolkit/widgets/__pycache__
rp_ptpdb/__pycache__
rp_ptpython/__pycache__
experimental/__pycache__
libs/jedi/__pycache__
libs/jedi/api/__pycache__
libs/jedi/common/__pycache__

#<RP Default Gitignore Start>
*.pyc
*.swo
*.swp
*.swn
*.swm
*.un~
*.gstmp
*.ipynb_checkpoints
*.DS_Store
#<RP Default Gitignore End>


libs/.pytorch_module_explorer.py.un~

.r.py.sw*
*.un~


r.py.rp_local_clipboard
r.py.rp_local_dill_clipboard
.rp_local_clipboard
.session.vim
r.py.history.txt.meta
rp_public_namespace.py
grep
.rprc
.rprc
.plans.py
.rp_pyin_settingspublish.sh

.rp_pyin_settings
.boot_cache/system_commands.txt