opencv_python==4.1.1.26
numpy==1.17.2
Send2Trash==1.5.0
playsound==1.2.2
more_itertools==7.2.0
rtmidi==2.3.4
requests==2.22.0
drawille==0.1.0
pygame==1.9.6
wcwidth==0.1.7
twilio==6.32.0
gTTS_token==1.1.3
sk_video==1.1.10
jedi==0.15.1
Pygments==2.4.2
pytube==9.5.2
setproctitle==1.1.10
~
sounddevice==0.3.14
six==1.12.0
PyAudio==0.2.11
inflect==2.1.0
vispy==0.6.1
psutil==5.6.3
numpngw==0.0.8
youtube_dl==2019.9.28
scipy==1.3.1
pudb==2019.2
~oge==3.5.0
matplotlib==3.1.1
colorama==0.4.1
exofrills==0.3.2
word2number==1.1
win_unicode_console==0.5
doge==3.5.0
h5py==2.10.0
icecream==2.0.0
ipython==7.10.1
js2py==0.66
moviepy==1.0.1
numba==0.46.0
Pillow==6.2.1
protobuf==3.11.1
pymatbridge==0.5.2
pypager==0.5
PyQt4==4.11.4
pyserial==3.4
rp==0.1.316
scenedetect==0.5.1.1
scikit_learn==0.22
skimage==0.0
sympy==1.4
torch==1.3.1
xo==1.0.0
